{% extends 'master.html' %}

{% block title %}
    Edit article
{% endblock %}

{% block content %}

    <form method="post" action="{% url 'demo_app:edit' id %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="{{ form.type.id_for_label }}">{{ form.type.label_tag }}</label>
            <input type="text" class="form-control" id="{{ form.type.id_for_label }}" name="{{ form.type.name }}" value="{{ form.type.value }}">
            {% if form.type.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.type.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.location.id_for_label }}">{{ form.location.label_tag }}</label>
            <input type="text" class="form-control" id="{{ form.location.id_for_label }}" name="{{ form.location.name }}" value="{{ form.location.value }}">
            {% if form.location.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.location.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.rate.id_for_label }}">{{ form.rate.label_tag }}</label>
            <input type="text" class="form-control" id="{{ form.rate.id_for_label }}" name="{{ form.rate.name }}" value="{{ form.rate.value }}">
            {% if form.rate.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.rate.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.hours.id_for_label }}">{{ form.hours.label_tag }}</label>
            <input type="text" class="form-control" id="{{ form.hours.id_for_label }}" name="{{ form.hours.name }}" value="{{ form.hours.value }}">
            {% if form.hours.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.hours.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.minutes.id_for_label }}">{{ form.minutes.label_tag }}</label>
            <input type="text" class="form-control" id="{{ form.minutes.id_for_label }}" name="{{ form.minutes.name }}" value="{{ form.minutes.value }}">
            {% if form.minutes.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.minutes.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="{{ form.content.id_for_label }}">{{ form.content.label_tag }}</label>
            <textarea class="form-control" id="{{ form.content.id_for_label }}" name="{{ form.content.name }}" rows="5">{{ form.content.value }}</textarea>
            {% if form.content.errors %}
                <div class="alert alert-danger">
                    <ul style="text-align: left">
                        {% for error in form.content.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
        </div>

        <input type="submit" class="btn btn-primary btn-lg" value="Save"/>
    </form>

{% endblock %}